

.nav{
    height: 100px;
    background-color: black;
    
}

.nav > .logo{
    color:orangered;
}

.nav > ul > li{
    color:white;
    list-style: none;
    font-weight: bold;
}

.container{
    height: 250px;
    background-color: antiquewhite;
}


.container > button{
    background-color: brown;
    color:white;
    font-size: 18px;
    cursor: pointer;
}


/* !  1. hover */

.container > button:hover{

    background-color: green;
    color:black;
    width: 150px;
}


.container > button:active{
    background-color: blue;
}



/* ! nth child  */


.container2 > ul > li:nth-child(3){
    color:green;
}


.container2 > ul > li:nth-child(2n+1)
{
 background-color: orange;
}



.card > p:nth-child(4)
{
    background-color: red;
}